[Unit]
Description=Container workload
Requires=basic.target
Conflicts=rescue.service rescue.target
After=basic.target rescue.service rescue.target
Wants=rsyslog.service postfix.service
AllowIsolate=yes
