[Unit]
After=rsyslog.service
ConditionPathExists=/dev/console
ConditionPathExists=/var/log/syslog/everything

[Service]
Type=simple
ExecStart=/usr/bin/cat /var/log/syslog/everything
ExecStopPost=/usr/sbin/halt
StandardOutput=tty
TTYPath=/dev/console

[Install]
WantedBy=container.target
